libgcc_mutex
openmp_mutex
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
ca-certificates
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
docstring-parser
exceptiongroup
faiss-cpu
flask
flask-cors
frozenlist
gitdb
github
gitpython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
groq
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
importlib-metadata
itsdangerous
jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-text-splitters
langsmith
ld_impl_linux-64
libffi

numpy
openssl
orjson
packaging
pandas
pillow
pip
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic-core
pydeck
pygments
pyparsing
pypdf
pypdf2
python
python-dateutil
python-dotenv
pytz
pyyaml
readline
referencing
request
rich
rpds-py
rsa
setuptools
shapely
six
smmap
sniffio
sqlalchemy
sqlite
tenacity
tk
toml
tornado
tqdm
typing-extensions
typing-inspect
tzdata
uritemplate
urllib3
watchdog
werkzeug
wheel
xz
yarl
zipp
zlib
