flask
flask-cors
flask-talisman
flask-session
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-google-genai
faiss-cpu==1.7.4
numpy<2.0
werkzeug
python-dotenv
psutil
redis
boto3
asgiref
mangum
